@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

.App {
    font-family: 'Roboto';
    text-align: center;
    width: 400px;
    margin: 0 auto;
  }

.Checkboxes {
  width: 200px;
  margin: 10px auto;
}

.Button {
  width: 300px;
}